* {
    margin: 0;
    padding: 0;
    font-family: Serif;
    font-size: 14pt;
}


body {
    margin: auto;
    min-height: 600px;
    background-color: #14161D;
    background-image: url(img/background.png);
}


header {
    margin: auto;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    color: white;
    

    /* Gradient provided by @_ighosh at uiGradients.com */
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);
    background: linear-gradient(to top, #2c3e50, #2980b9);
}

header > h1 {
    margin: auto;
    font-size: 24pt;
}

.logo {
    margin: auto;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 77px;
    height: 50px;
}

nav {
    clear: both;
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
    min-height: 40px;
    padding: 10px;
    background: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

nav > a {
    float: left;
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #4b6c7f;
    padding: 7px 14px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 8px;
}

nav > a:hover {
    background: #6e818c;
    color: black;
}

main {
    clear: both;
    margin: auto;
    max-width: 1200px;
    min-height: 600px;
    padding: 30px 20px;
    background: #F0F0F0;
    border-radius: 8px;
}

main a {
    color: #4F5D73;
}

main > h1 {
    font-size: 24pt;
    margin-bottom: 0.5em;
}

main > h2 {
    font-size: 20pt;
    margin-bottom: 0.5em;
}

main > p {
    font-size: 14pt;
    margin-bottom: 1.5em;
    text-indent: 4ch;
    text-align: justify;
}

main > ul {
    list-style: none;
    margin-left: 30px;
}

.bookmarks {
    max-width: 400px;
    margin-left: -20px;
}

.bookmarks > li {
    background: #548fb1;
    margin-bottom: 30px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.bookmarks > li > a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.bookmarks > li:hover {
    background: #94b9ce;
    color: black;
}

footer {
    margin: auto;
    max-width: 1300px;
    height: 50px;
    padding: 10px;
    text-align: right;
    color: white;
    border-radius: 8px 8px 20px 20px;

    /* Gradient provided by @_ighosh at uiGradients.com */
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);
    background: linear-gradient(to top, #2c3e50, #2980b9);
}

footer > p {
    font-size: 12pt;
}
