* {
    margin: 0;
    padding: 0;
    font-family: Serif;
    font-size: 14pt;
}

body {
    margin: auto;
    min-height: 600px;
    background-color: #14161D;
    background-image: url(img/logo.png);
}

header {
    min-height: 50px;
    padding: 10px;
    background-color: #4F5D73;
    text-align: center;
    color: white;
}

header > h1 {
    font-size: 24pt;
}

nav {
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
    min-height: 40px;
    padding: 10px;
    background: #3C3A46;
    color: white;
    text-align: center;
}

nav > a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #4E8686;
    padding: 7px 14px;
    margin: 5px;
    margin-right: 10px;
}

main {
    clear: both;
    margin: auto;
    max-width: 1200px;
    min-height: 600px;
    padding: 30px 20px;
    background: #F0F0F0;
}

main a {
    color: #4F5D73;
}

main > h1 {
    font-size: 24pt;
    margin-bottom: 0.5em;
}

main > h2 {
    font-size: 20pt;
    margin-bottom: 0.5em;
}

main > p {
    font-size: 14pt;
    margin-bottom: 1.5em;
    text-indent: 4ch;
    text-align: justify;
}

main > ul {
    list-style: none;
    margin-left: 30px;
}

footer {
    margin: auto;
    max-width: 1300px;
    height: 50px;
    padding: 10px;
    background: #4F5D73;
    text-align: right;
    color: white;
}

footer > p {
    font-size: 12pt;
}
