* {
    margin: 0;
    padding: 0;
    font-family: Serif;
    font-size: 14pt;
}

body {
    margin: auto;
    height: 600px;
}

header {
    height: 50px;
    padding: 10px;
    background: #4F5D73;
    text-align: center;
    color: white;
}

header > h1 {
    font-size: 24pt;
}

nav {
    margin: auto;
    overflow: hidden;
    max-width: 900px;
    min-height: 40px;
    padding: 10px;
    background: #403E4C;
    color: white;
    text-align: center;
}

nav > a {
    float: left;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #4E8686;
    padding: 7px 14px;
    margin: 5px;
    margin-right: 10px;
}

main {
    clear: both;
    margin: auto;
    max-width: 800px;
    min-height: 600px;
    padding: 30px 20px;
    background: #F0F0F0;
}

main > p {
    font-size: 14pt;
    text-indent: 4ch;
    text-align: justify;
}

footer {
    margin: auto;
    max-width: 900px;
    height: 50px;
    padding: 10px;
    background: #4F5D73;
    text-align: right;
    color: white;
}

footer > p {
    font-size: 12pt;
}
